<ion-header>
  <ion-toolbar>
    <ion-title>Escáner QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" (click)="escanear()">Escanear QR</ion-button>
  <p>{{ mensaje }}</p>

  <!-- Acordeón para mostrar las propiedades del JSON -->
  <ion-accordion-group *ngIf="datosQR && getKeys(datosQR).length > 0">
    <ion-accordion *ngFor="let key of getKeys(datosQR)">
      <ion-item slot="header">
        <ion-label>{{ key }}</ion-label>
      </ion-item>
      <div slot="content">
        <p>{{ datosQR[key] }}</p>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
